@font-face {
    font-family: GothaProBla_1; /* Гарнитура шрифта */
    src: url(../fonts/GothaProBla_1.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: GothaProBlaIta_1; /* Гарнитура шрифта */
    src: url(fonts/GothaProBlaIta_1.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: GothaProBol_2; /* Гарнитура шрифта */
    src: url(../fonts/GothaProBol_2.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: GothaProBolIta_1; /* Гарнитура шрифта */
    src: url(../fonts/GothaProBolIta_1.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: GothaProIta_1; /* Гарнитура шрифта */
    src: url(../fonts/GothaProIta_1.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: GothaProLig_1; /* Гарнитура шрифта */
    src: url(../fonts/GothaProLig_1.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: GothaProLigIta_1; /* Гарнитура шрифта */
    src: url(../fonts/GothaProLigIta_1.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: GothaProMed_1; /* Гарнитура шрифта */
    src: url(../fonts/GothaProMed_1.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: GothaProMedIta_1; /* Гарнитура шрифта */
    src: url(../fonts/GothaProMedIta_1.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: GothaProNarBol_1; /* Гарнитура шрифта */
    src: url(../fonts/GothaProNarBol_1.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: GothaProNarMed_1; /* Гарнитура шрифта */
    src: url(../fonts/GothaProNarMed_1.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: GothaProReg_0; /* Гарнитура шрифта */
    src: url(../fonts/GothaProReg_0.otf); /* Путь к файлу со шрифтом */
}


